.clients {
    padding: 94px 0 94px 0;
    text-align: center;
   
    &__item {
    @extend %flex-centered;
    width: 170px;
    height: 90px;
    color: $secondary-accent-color;
    border: 1px solid $secondary-accent-color;
    border-radius: 4px;
    @include transit;
    @include transit(border-color);
    }   
  &__icon {
    fill: currentColor;
  }
  
  &__item:hover,
  &__item:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}  