  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: $background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    @include transit(transform);
 
    &__close {
    padding: 0;
    @extend %flex-centered;
    background-color: $background-color;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    }
  
    &__close:hover {
    color: $accent-color;
    fill: currentColor;
    }
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
    .form {
    padding: 40px;
    text-align: left;
  
    &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto 12px;
    }
  
    &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    }
  
    &__label {
    margin-bottom: 4px;
    }
    &__icon {
    position: absolute;
    top: 32px;
    left: 15px;
    color: $title-text-color;
    fill: currentColor;
    @include transit;
    }
  }
  
    .form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    @include transit(border-color);
      
    &:focus .form__icon {
    color: $accent-color;
    }
    &:active,
    &:focus,
    &:hover {
    outline: none;
    border-color: $accent-color;
    cursor: pointer;
    }
  
    &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    }
  
  
    &:focus + .form__icon,
    &:hover + .form__icon,
    .form__icon:hover {
    color: $accent-color;
    }
  
    &--textarea {
    resize: none;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 10px;
    }
  }

  .confirm {
    display: flex;
    align-items: center;
    line-height: 1.71;
    margin-bottom: 30px;
    height: 24px;
   
    &__checkbox {
    margin-right: 7px;
    }

    &__button {
    background-color: $accent-color;
    color: $background-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    }
  
    &__label {
    display: flex;
    align-items: center;
    line-height: 1.71;
  }
    &__link {
    color: $accent-color;
    text-decoration-line: underline;
    }

    &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    margin-right: 9px;
    }
  }

  .confirm__checkbox {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    
    &:checked + .confirm__icon {
    background-color: $accent-color;
    background-image: url('/images/icon-check.svg');
    background-size: contain;
    border: 2px solid $accent-color;
    background-origin: border-box;
    }
  
    &:focus + .confirm__icon {
    border-color: $accent-color;
    }
  
  }