html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
    
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  p,
  h1,
  h2,
  h3 {
    margin: 0;
  }
  
  body {
    background-color: $background-color;
    color: $primary-text-color;
    font-family: $main-font-family;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }