@media screen and (max-width: 767px) {
  .menu__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $background-color;
    padding: 48px 40px;
    flex-direction: column;
  }

  .menu__navigation {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    margin-bottom: 274px;
  }

  .menu__link {
    display: block;
    color: $title-text-color;
    padding-bottom: 32px;
    @include transit;

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--active {
      color: $accent-color;
    }
  }
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-left: 0;

    &__item {
      font-size: 34px;
      line-height: 1.176;
      margin-bottom: 32px;
    }

    &__item--mob-email {
      font-size: 24px;
      line-height: 1.17;
      margin-bottom: 64px;
    }

    &__item--mob-tel {
      color: $accent-color;
    }

    &__icon {
      display: none;
    }
  }

  .menu-social__mob {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-left: -10px;
  }

  .menu-social__item {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
