$primary-text-color: #757575;
$background-color: #ffffff;
$accent-color: #2196f3;
$secondary-background-color: #f5f4fa;
$title-text-color: #212121;
$secondary-accent-color: #afb1b8;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: 'Roboto', sans-serif;
$secondary-font-family:  'Raleway', sans-serif;