.feature {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
}
}

.advantage {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    
  }

  &__item {
    display: block;
    width: 100%;  
    margin-bottom: 30px;

    @media screen and (min-width: 767px) {
      flex-basis: calc((100% - 30px) / 2);

      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__img {
    @extend %flex-centered;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-background-color;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    color: $title-text-color;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.93;
  }
}
